#normal-text {
    font-family: "impact"
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* .nav-bar-img {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 40%;
    padding: 10px 20px;
} */

.web-img {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    vertical-align: middle;
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-family: "verdana";
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
